html,body {
  font-family: "Noto Serif Japanese","Zen Old Mincho",serif;
  font-style:  normal;
}

img{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-touch-callout: none;
    -moz-user-select: none;
    user-select: none;
    margin: auto;
    display: block;
}

footer {
p {
  text-align: center;
}
}
